*{
  font-family: 'Concert One', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body{
  background-color: #5CDB95;
  color: #EDF5E1;

}
/* display flex to put it in sort of like a box and then flex-direction to make it in a row; justify content
for space around the box align items to put it in the center of the box  */
.header{
  padding: 20px;
  width: 100%;
  color: #05386B;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
justify-content: space-around;
}

/* to decorate the nav link */
.header nav a{
  text-decoration: none;
  font-size: 14px;
  color: #05386B;
  padding: 10px;
  text-align: center;
}
.container{
  width: 40%;
  line-height: 2.0;;
  margin: 100px 0 0 200px;
}


.button{
  margin-top: 40px;
  background-color: #05386B;
  color: #EDF5E1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: none;
  border-radius: 12px;
}

.button a{
  text-decoration: none;
  color: #EDF5E1
}
